@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family:
      'Pretendard Variable',
      Pretendard,
      -apple-system,
      BlinkMacSystemFont,
      system-ui,
      Roboto,
      'Helvetica Neue',
      'Segoe UI',
      'Apple SD Gothic Neo',
      'Noto Sans KR',
      'Malgun Gothic',
      'Apple Color Emoji',
      'Segoe UI Emoji',
      'Segoe UI Symbol',
      sans-serif;
  }
  .bg-icon1 {
    background-image: url('../assets/icons/chatbot-photo.svg';);
    background-size: cover;
  }

  ::-webkit-scrollbar {
    display: none;
  }
}

@layer components {
  .card {
    @apply rounded-xl border bg-gray-50 p-4 text-left;
  }

  .btn-gray {
    @apply h-min rounded-xl border border-gray-300 bg-gray-200 px-2.5 py-2;
  }

  .btn-blue {
    @apply h-min rounded-xl border border-blue bg-blue-light px-2.5 py-2;
  }

  .badge-gray {
    @apply rounded-full bg-gray-300 px-3 py-0.5;
  }

  .profile-heading {
    @apply mx-5 mb-1 mt-5 text-xl font-bold;
  }

  .profile-input {
    @apply rounded-xl border border-gray-200 bg-gray-50 px-4 py-3 text-base outline-blue focus:outline;
  }

  .profile-radio {
    @apply h-12 w-12 appearance-none rounded-full border-4 border-gray-200 bg-gray-200;
  }

}

@keyframes bounce {
  from {
    transform: translateY(5%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  to {
    transform: translateY(0);
  }
}

@layer utilities {
  .animate-float {
    animation: bounce 0.1s;
  }
}
